*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Alata", sans-serif;
}
.supreme-container{
    width: 100%;
    position: relative; 
}
.header{
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
}
h1.header{
    font-size: 4rem;
}
h2.header{
    font-size: 3rem;
}
h3.header{
    font-size: 1.7rem;
}

.header-inner-container,
.section1-inner-container,
.section2-inner-container,
.footer-inner-container{
    width: 80%;
    margin: 0 auto;
}

header{
    background-image: url("./images/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    padding-top: 60px;
    margin-bottom: 100px;
}
.header-inner-container{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mobile-nav-container{
    display: none;
}
.nav-logo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hamburger-container{
    display: none;
}
.nav{
    width: 400px;
    display: flex;
    justify-content: space-between;
}
.nav a{
    text-decoration: none;
    color: white;
    position: relative;
}
.main-header-container{
    width: max(50%, 660px);
    border: 2px solid white;
    padding: 35px;
}
.main-header{
    width: 80%;
    color: white;
}
.section1{
    margin-bottom: 300px;
}
.section1-inner-container{
    display: flex;
    position: relative;
}
.section1-img-container{
    width: min(800px,70%);
}
.section1-img-container .desktop{
    width: 100%;
}
.section1-text-container{
    width: max(50%, 600px);
    height: 450px;
    background-color: white;
    padding-left: min(5vw, 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 45%;
    top: 150px;
}
.section1-text-container .header{
    margin-bottom: 30px;
}
.section1-text{
    line-height: 2;
    color: hsl(0, 0%, 55%);
}
/* .nav a::after{
    content: "";
    position: absolute;
    top: 28px;
    right: 50%;
    width: 0;
    transition: width 0.3s ease-out;
}
.nav a:hover::after{
    transform: translateX(50%);
    display: inline-block;
    width: 30px;
    height: 1px;
    color: white;
    background-color: white;
} */
.section2{
    margin-bottom: 200px;
}
.section2-header-btn-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
.section2-button.bottom{
    display: none;
}
.section2-button{
    background-color: white;
    border: 2px solid hsl(0, 0%, 41%);
    color: black;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 10px 40px;
    font-family: "Alata", sans-serif;
    transition: all 0.2s ease-in-out;
}
.section2-button:hover{
    border: 2px solid black;
    background-color: black;
    color: white;
    cursor: pointer;
}

.creations-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 560px);
    row-gap: 30px;
    column-gap: 30px;
    align-content: center;
    justify-content: center;
}
.grid-item{
    color: white;
}
.grid-item-inner{
    background: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0));
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: all 0.2s ease-in-out;
    padding-left: 15px;
    padding-bottom: 20px;
}
.grid-item-inner:hover{
    background: rgba(255,255,255,0.6);
    color: black;
    cursor: pointer;
}
.grid-item-inner h3{
    width: 80%;
}
.arcade{
    background-image: url("./images/desktop/image-night-arcade.jpg");
    background-size: cover;
}
.soccer{
    background-image: url("./images/desktop/image-soccer-team.jpg");
    background-size: cover;
}
.deep-earth{
    background-image: url("./images/desktop/image-deep-earth.jpg");
    background-size: cover;
}
.the-grid{
    background-image: url("./images/desktop/image-grid.jpg");
    background-size: cover;
}
.from-above{
    background-image: url("./images/desktop/image-from-above.jpg");
    background-size: cover;
}
.borealis{
    background-image: url("./images/desktop/image-pocket-borealis.jpg");
    background-size: cover;
}
.curiosity{
    background-image: url("./images/desktop/image-curiosity.jpg");
    background-size: cover;
}
.fisheye{
    background-image: url("./images/desktop/image-fisheye.jpg");  
    background-size: cover;  
}


footer{
    background-color: black;
    height: 250px;
    color: white;
}
.footer-inner-container{
    height: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.footer-left{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.footer-right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}
.social-container{
    display: flex;
    justify-content: space-between;
    width: min(150px, 50%);
}
.social-container a{
    position: relative;
}
.copyright-container{
    color: rgba(255,255,255,0.6);
}



.attribution{
    position: absolute;
    left: 50%;
    bottom: 15px;
    transform: translateX(-50%);
    color: rgba(255,255,255,0.6);
}
.attribution a{
    text-decoration: none;
    transition: all 0.2s ease-in-out
}
.attribution a:hover{
    color: rgb(0, 230, 134);
    cursor: pointer;
}


.mobile{
    display:none;
}

.hover-animation::after{
    content: "";
    position: absolute;
    top: 32px;
    right: 50%;
    width: 0;
    transition: width 0.3s ease-out;
}
.hover-animation:hover::after{
    transform: translateX(50%);
    display: inline-block;
    width: 24px;
    height: 2px;
    color: white;
    background-color: white;
}

@media all and (max-width: 1300px){
    .creations-grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 560px);
    }
    /* .grid-item{
        width: 80%;
    } */
    .section1-inner-container{
        display: flex;
        position: relative;
    }
    .section1-img-container{
        width: min(800px,70%);
    }
    .section1-img-container .desktop{
        width: 100%;
    }
    .section1-text-container{
        width: max(50%, 500px);
        height: 450px;
        background-color: white;
        padding-left: min(5vw, 100px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 10%;
        top: 150px;
    }
}
@media all and (max-width: 1100px){
    .section1-text-container{
        padding-right: 30px;
        height: 400px;
    }
    h1.header{
        font-size: 3rem;
    }
    h2.header{
        font-size: 2.3rem;
    }
    h3.header{
        font-size: 1.8rem;
    }
}
@media all and (max-width: 1000px){
    .section1-text-container{
        padding-right: 100px;
    }
}
@media all and (max-width: 900px){ /*mobile design*/
    .header-inner-container,
    .section1-inner-container,
    .section2-inner-container,
    .footer-inner-container{
        width: 90%;
    }
    h1.header{
        font-size: 2.6rem;
    }
    h2.header{
        font-size: 2rem;
    }
    header .nav{
        display: none;
        position: relative;
    }
    .mobile-nav-container{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        background-color: black;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
        padding: 60px 5%;
        transform: translateX(-100%);
    }
    .mobile-nav-container.show{
        transform: translateX(0);
    }
    .mobile-nav-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 100px;
    }
    .close-icon{
        transform: scale(1.3);
    }
    .close-icon:hover, .hamburger-container{
        cursor: pointer;
    }
    .mobile-nav{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: min(400px, 35vh);
    }
    .mobile-nav a{
        text-decoration: none;
        color: white;
        font-family: "Josefin Sans", sans-serif;
        font-size: 1.5rem;
        text-transform: uppercase;
    }
    .hamburger-container{
        display: block;
    }
    .main-header-container{
        width: 100%;
        padding: 25px;
        line-height: 1.1;
    }
    .section1{
        margin-bottom: 100px;
    }
    .section1-inner-container{
        flex-direction: column;
    }
    .section1-img-container{
        width: 100%;
    }
    .section1-text-container{
        position: static;
        width: 100%;
        text-align: center;
        padding: 0 30px;
    }
    .section2-header-btn-container{
        justify-content: center;
        margin-bottom: 40px;
    }
    .section2-button{
        display: none;
    }
    .creations-grid{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, calc(120px + 5vw));
        margin-bottom: 50px;
    }
    .grid-item-inner{
        padding-left: 30px;
        justify-content: flex-start;
    }
    .grid-item-inner h3{
        width: 40%;
    }
    .arcade{
        background-image: url("./images/mobile/image-night-arcade.jpg");
        background-size: cover;
    }
    .soccer{
        background-image: url("./images/mobile/image-soccer-team.jpg");
        background-size: cover;
    }
    .deep-earth{
        background-image: url("./images/mobile/image-deep-earth.jpg");
        background-size: cover;
    }
    .the-grid{
        background-image: url("./images/mobile/image-grid.jpg");
        background-size: cover;
    }
    .from-above{
        background-image: url("./images/mobile/image-from-above.jpg");
        background-size: cover;
    }
    .borealis{
        background-image: url("./images/mobile/image-pocket-borealis.jpg");
        background-size: cover;
    }
    .curiosity{
        background-image: url("./images/mobile/image-curiosity.jpg");
        background-size: cover;
    }
    .fisheye{
        background-image: url("./images/mobile/image-fisheye.jpg");  
        background-size: cover;
    }
    .section2-button.bottom{
        display: block;
        margin: 0 auto;
    }

    footer{
        background-color: black;
        height: 550px;
        color: white;
    }
    .footer-inner-container{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 30px;
    }
    .footer-left{
        height: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .footer-left .nav{
        flex-grow: 1;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .footer-right{
        height: 25%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }
    .social-container{
        display: flex;
        justify-content: space-evenly;
        width: min(180px, 80%);
    }
    .social-container a{
        position: relative;
    }
    .copyright-container{
        color: rgba(255,255,255,0.6);
    }
}